<!DOCTYPE html>
<html lang="en" ng-app="App">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script type="text/javascript" src="./lib/angular.min.js"></script>
    <link rel="stylesheet" href="./lib/bootstrap/css/bootstrap.min.css">
    <title></title>
    <script type="text/javascript">
        let pageApp = angular.module('App', []);

        const pageCtrl = function() {
            this.dataValue = "------";

            this.changeValue = function() {
                this.dataValue = "Hello Ang";
            }
        }

        pageApp.controller("ctrl", pageCtrl);
    </script>
</head>
<body>
    <div class="container"  ng-controller="ctrl as myCtrl">
        <button ng-click="myCtrl.changeValue()">Press</button>
        <input ng-model="myCtrl.dataValue" />
    </div>
</body>
</html>