<!DOCTYPE html>
<html lang="en" ng-app="App">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script type="text/javascript" src="./lib/angular.min.js"></script>
    <script type="text/javascript" src="./app.js"></script>
    <link rel="stylesheet" href="./lib/bootstrap/css/bootstrap.min.css">
    <title></title>
</head>
<body ng-controller="Ctrl">
    <div class="container">
        <div class="btn-group">
            <button class="btn btn-primary" ng-click="tableViewOn()">Table</button>
            <button class="btn btn-primary" ng-click="listViewOn()">List</button>
        </div>
        <div>
            <ng-include src="url"></ng-include>
        </div>
    </div>
</body>
</html>